#contents{
    padding-top: 80px;
    text-align: center;
}

#contents #correct{
    color: skyblue;
}

#contents #incorrect{
    color:#B80000;
}

#contents #back{
    color: white;
    font-size: 18px;
    border-radius: 10%;
    border:none;
    padding-inline: 10px;
    padding-block: 5px;
}