main {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 500px;
  }
  
  .chat-container {
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    height: 398px;
  }
  
  .chat-header {
    background-color: skyblue;
    color: #fff;
    padding: 10px;
    /* text-align: center; */
  }
  
  .messages-container {
    padding: 10px;
    overflow-y: auto;
    max-height: 300px;
  }
  
  .message {
    padding: 18px 10px;
    margin-bottom: 8px;
    border-radius: 30px;
    width: 500px;
  }
  
  .user-message {
    background-color: #e0e0e0;
  }
  
  .bot-message {
    background-color: #f2f2f2;
  }
  
  .input-container {
    display: flex;
    padding: 10px;
  }
  
  input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 200px;
  }
  
  button {
    padding: 8px;
    margin-left: 8px;
    background-color: skyblue;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 200px;
  }

  body {
    margin: 0;
}

/*共通部分*/
.shadow {
    box-shadow: 12px 9px 44px #000000;

}
 
/* header */

header {
    height: 90px;
    background-color: skyblue;
}

header h1 {
    text-align: center;
    padding-block: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* footer */
.copyright {
    background-color: skyblue;
    padding-block: 15px;
}

.copyright p {
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.index {
    text-align: center;
    height: 400px;
    margin-block: 50px;
}

.container {
    padding-inline: 15px;
}


@media(min-width: 1000px) {
    .container {
        width: 1000px;
        margin-inline: auto;
    }
}

