/* header */


header {
    height: 100px;
    background-color: lightblue;
}

.title h1 {
    text-align: center;
    padding-block: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* footer */

.copyright {
    background-color: lightblue;
    padding-block: 15px;
}

.copyright p {
    text-align: center;
}

.container {
    padding-inline: 15px;
}